/*
	Diagnostic Styling
	http://meyerweb.com/eric/thoughts/2007/09/07/diagnostic-styling/
*/

div, * { border: 3px solid #c2c2c2; }

#page { border: 3px solid pink; }
#header { border: 3px solid blue; }
#footer { border: 3px solid purple; }
#sidebar { border: 3px solid orange; }
#content { border: 3px solid yellow; }
.post  { border: 3px solid green; }

img {outline: 5px solid red;}
img[alt][title] {outline-width: 0;}
img[alt] {outline-color: fuchsia;}
img[alt], img[title] {outline-style: double;}
img[alt=""][title], img[alt][title=""] {outline-width: 3px;}
img[alt=""][title=""] {outline-style: dotted;}
